html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
ul,
li {
  list-style: none;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  min-height: 100vh;
}
.cards {
  width: 120rem;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
  padding: 1rem;

  &__title {
    font-size: 7rem;
    color: rgba(255,255,255, .5);

    &_small {
      font-size: 2.8rem;
      color: rgba(0,0,0, .7);
      border-bottom: dotted 2px rgba(0,0,0,.7);
      margin-bottom: 2rem;
    }
  }

  &__item {
    position: relative;
    background: #fff;
    padding: 2rem 3.5rem 3.5rem;
    text-align: center;
    overflow: hidden;
    border-radius: 1.5rem;

    &:nth-child(1) {
      background: linear-gradient(120deg,#0465a7, #3ce5ff);
    }
    &:nth-child(2) {
      background: linear-gradient(120deg,#b8164c, #fa55f2);
    }
    &:nth-child(3) {
      background: linear-gradient(120deg,#075a2c, #0bfd3c);
    }
    &:nth-child(4) {
      background: linear-gradient(120deg,#c93a30, #fac126);
    }
  }
}